<div class=" nuestroCatalogo d-flex flex-wrap justify-content-around  ">
  <p style="font-size: 50px; color: black;" class="fw-bold my-4">NUESTRO CATÁLOGO</p>
</div>
<div class="d-flex justify-content-evenly mb-4 filtros p-2">
  <div class="dropdown" >
    <button class="btn  btn-light dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false" style="width: 200px;">
      Categorias
    </button>
    <ul class="dropdown-menu" >
      <li *ngFor="let categoria of categorias">
        <div class="form-check ms-1">
          <input class="form-check-input" type="radio" name="flexRadioDefault1" [id]="+categoria.id+'categoria'" (click)="cargarProductoPorCategoria(categoria.id)" [checked]="categoria.id==0 ? categoriaEstaTildado(-1) : categoriaEstaTildado(categoria.id)">
          <label class="form-check-label" [for]="+categoria.id+'categoria'">
            {{categoria.nombre}}
          </label>
        </div>
      </li>
    </ul>
  </div>
  <div class="dropdown" >
    <button class="btn  btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="width: 200px;">
      Genero
    </button>
    <ul class="dropdown-menu" >
      <li>
        <div class="form-check ms-1">
          <input class="form-check-input" type="radio" name="flexRadioDefault2" id="todosGenero" (click)="cargarProductoPorGenero('-1')" [checked]="generoEstaTildado('-1')">
          <label class="form-check-label" for="todosGenero">
            Todos
          </label>
        </div>
      </li>
      <li>
        <div class="form-check ms-1">
          <input class="form-check-input" type="radio" name="flexRadioDefault2" id="hombreGenero" (click)="cargarProductoPorGenero('Hombre')" [checked]="generoEstaTildado('Hombre')">
          <label class="form-check-label" for="hombreGenero">
            Hombre
          </label>
        </div>
      </li>
      <li>
        <div class="form-check ms-1">
          <input class="form-check-input" type="radio" name="flexRadioDefault2" id="mujerGenero" (click)="cargarProductoPorGenero('Mujer')" [checked]="generoEstaTildado('Mujer')">
          <label class="form-check-label" for="mujerGenero">
            Mujer
          </label>
        </div>
      </li>
      <li>
        <div class="form-check ms-1">
          <input class="form-check-input" type="radio" name="flexRadioDefault2" id="ninosGenero" (click)="cargarProductoPorGenero('Niños')" [checked]="generoEstaTildado('Niños')">
          <label class="form-check-label" for="ninosGenero">
            Niños
          </label>
        </div>
      </li>
      <li>
        <div class="form-check ms-1">
          <input class="form-check-input" type="radio" name="flexRadioDefault2" id="unisexGenero" (click)="cargarProductoPorGenero('Unisex')" [checked]="generoEstaTildado('Unisex')">
          <label class="form-check-label" for="unisexGenero">
            Unisex
          </label>
        </div>
      </li>
    </ul>
  </div>
  <div class="dropdown" >
    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="width: 200px;">
      Marcas
    </button>
    <ul class="dropdown-menu" >
      <li *ngFor="let marca of marcas">
        <div class="form-check ms-1">
          <input class="form-check-input" type="radio" name="flexRadioDefault3" [id]="+marca.id+'marca'" (click)="cargarProductoPorMarca(marca.id)" [checked]="marca.id==0 ? marcaEstaTildado(-1) : marcaEstaTildado(marca.id)">
          <label class="form-check-label" [for]="+marca.id+'marca'" >
            {{marca.nombre}}
          </label>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="alert alert-warning mx-5" role="alert" *ngIf="productos.length==0">
  No se encontraron productos 
</div>

<!-- Card de productos -->
<div class="d-flex flex-wrap justify-content-around">
  <div class="card my-3 mx-5" style="width: 18rem;" *ngFor="let producto of productos">
    <!-- Contenedor principal -->
    <div class="card-container" (mouseover)="producto.showDetails = true" (mouseout)="producto.showDetails = false">
      <a    *ngIf="producto.foto!=null">
        <img src="{{URL_BACKEND}}/api/uploads/img/{{producto.foto}}" class="card-img-top" alt="portada" height="300px">
      </a>
      <a  *ngIf="producto.foto==null">
        <img src="/assets/sunglasses.svg" class="card-img-top" alt="sin foto" height="300px">
      </a>
      <!-- Contenedor para la imagen en gris y "Ver detalles" -->
      <div class="image-overlay " [ngClass]="{ 'show1': producto.showDetails }" >
        <a *ngIf="producto.foto!=null" class="image-overlay ">
          <img src="{{URL_BACKEND}}/api/uploads/img/{{producto.foto}}" class="card-img-top" alt="portada" height="300px">
        </a>
        <a *ngIf="producto.foto==null" class="image-overlay ">
          <img src="/assets/sunglasses.svg" class="card-img-top" alt="sin foto" height="300px">
        </a>
        <div class="overlay-text" >
          <button role="button" data-bs-toggle="modal" data-bs-target="#productoModal" 
          [attr.data-bs-whatever]="producto.id"  class="btn btn-outline-light">Ver detalles</button>
        </div>
      </div>
    </div>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{producto.marca.nombre}}</h5>
        <p class="card-text">{{producto.modelo}}</p>
        <p class="card-text">{{producto.genero}}</p>
        <div *ngIf="producto.categorias && producto.categorias.length > 0 && producto.categorias[0]?.nombre" >
          <div *ngFor="let categoria of producto.categorias">
            <p class="card-text">{{categoria.nombre}}</p>
          </div>
        </div>
        <div class="mt-auto"> <!-- Agrega mt-auto para que el botón esté en la parte inferior -->
          <a href="https://wa.me/+5493764645752?text=Hola, Me gustaría consultar por este producto: Marca:{{producto.marca.nombre}} y Modelo:{{producto.modelo}}"  class="btn btn-outline-primary my-3 me-2" target="_blank">Consultar</a>
          <a [routerLink]="'/editarProducto/' + producto.id" *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-primary">Editar</a>
          <button (click)="eliminarProducto(producto)" *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-danger me-2">Eliminar</button>
        </div>
      </div>
    </div>
</div>
<paginator-nav *ngIf="paginador" [paginador]="paginador" [url]="url" [categoriaId]="categoriaId" [marcaId]="marcaId" [genero]="genero"></paginator-nav>

<!-- Modal -->
<div class="modal fade" id="productoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" *ngIf="producto.foto!=null">
        <img src="{{URL_BACKEND}}/api/uploads/img/{{producto.foto}}" class="card-img-top" alt="portada" width="100px" height="500px">
      </div>
      <div class="modal-header" *ngIf="producto.foto==null">
        <img src="/assets/sunglasses.svg" class="card-img-top" alt="portada">
      </div>
      <div class="modal-body">
        <h2 class="modal-title fs-5" id="exampleModalLabel" *ngIf="producto.marca " >{{producto.marca.nombre}}</h2>
        <p>Modelo: {{producto.modelo}}</p>
        <p>Color: {{producto.color}}</p>
        <p>Descripción: {{producto.descripcion}}</p>
        <p *ngIf="producto.stock">Stock: <span style="color: green;">Disponible</span></p>
        <p *ngIf="!producto.stock">Stock: <span style="color: red;">Sin Stock</span> </p>
        <p>Valor: ${{producto.precio}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <a type="button" class="btn btn-outline-primary" *ngIf="producto.marca " href="https://wa.me/+5493764645752?text=Hola, Me gustaría consultar por este producto: Marca:{{producto.marca.nombre}} y Modelo:{{producto.modelo}}" target="_blank">Consultar</a>
      </div>
    </div>
  </div>
</div>